body {
  font-family: 'Nunito', sans-serif;
}

.jumbotron {
  padding: 100px 25px;
  background-color:rgb(182, 237, 188);
  
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
      text-align: center;
      margin: 25px 0;
  }
}


.bg-purple {
  background-color: rgb(228, 182, 237);
}

.bg-grey {
  background-color: #f6f6f6;
}

.list-group-item {
background-color: transparent;
border-top: 1px solid #A1FFCE;
border-radius: .5;
color: #681080;
}

.container-fluid {
  padding: 60px 50px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(19, 148, 207, 0.705);
  margin: 1em 0;
  padding: 0; 
}