.navbar , .jumbotron {
  font-family: 'Nunito', sans-serif;
}

.jumbotron {
  background: rgba(152,251,152, 0.1); 
}

.bg-1 {
background: #A1FFCE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.list-group-item {
background-color: transparent;
border-top: 1px solid #A1FFCE;
border-radius: .5;
color: #681080;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(19, 148, 207, 0.705);
  margin: 1em 0;
  padding: 0; 
}