{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <div class="container-fluid">
                    <h1>St. Clair Medical Society Officers</h1>
                    <hr/>
                    <h5>St. Clair County Medical Society – 2018 Officers</h5>
                    <ul>
                        <li>Gregory Holderner, M.D. - President</li>
                        <li>Mathew Hageman, M.D. - Secretary / Treasurer</li>
                        <li>Stephen Kappel, M.D. -News Letter Editor</li>
                    </ul>
                    <h5>2018 Board Members of Directors</h5>
                    <ul>
                        <li>Enrico Farinas, M.D</li>
                        <li>Eldon Trame, M.D.</li>
                        <li>Stephen Raben, M.D.</li>
                    </ul>
                    <h5>2019 Board of Directors</h5>
                    <ul>
                        <li>Thomas Bayer, M.D.</li>
                        <li>Deborah McDermott, M.D.</li>
                        <li>Dennis Stanczyk, M.D.</li>
                    </ul>
                    <h5>ISMS Delegates</h5>
                    <ul>
                        <li>Deborah McDermott, M.D.</li>
                        <li>Eldon Trame, M.D.</li>
                        <li>Alternate Delegate: Stephen Raben, M.D.</li>
                    </ul>
                    <h5>Executive Director</h5>
                    <ul>
                        <li>Elaine Hoffmann</li>
                    </ul>

                </div>
            </div><!--jumbotron div-->
        </div> <!--col div-->
        <div class="col-md-6">
            <div class="container-fluid">
                <img src="http://www.stclairmed.com/presidents-dinner-2017/Presidents%202017-officers.jpg" style="border-radius:20px; max-width:400px"/>
                <hr/>
                <img src="http://www.stclairmed.com/picts/past-presidents-1.jpg" style="border-radius:20px; max-width:400px" />
            </div>
    </div> <!--row div-->
</div>


{% endblock body %}