{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>St. Clair Medical Society</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer-white.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  </head>

  <body class="bg-1">
    <nav class="navbar navbar-expand">
      <a class="navbar-brand" href="{% url 'home' %}">St. Clair Medical Society <img src="https://cdn.discordapp.com/attachments/360202360087379968/444954612588347392/MedSocEmblem.png" style="max-height: 25px"/></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'directory' %}">Directory</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'officers' %}">Officers</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'events' %}#">Events</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'news' %}">News</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'hospitals' %}">Hospitals</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'links' %}">Links</a></li>
      </ul>
    </nav>

    <div class="container">
    {% block body %}
    {% endblock body %}
    </div>

    <footer id="myFooter">
      <div class="container">
        <ul>
          <li><a href="{% url 'hospitals' %}">Hospital Information</a></li>
          <li><a href="{% url 'contact' %}">Contact us</a></li>
          <li><a href="{% url 'directory' %}">Search Practices</a></li>
        </ul>
        <p class="footer-copyright">2018 Copyright Text</p>
      </div>
    </footer>

  </body>
</html>