{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="page-header">
                    <h1>Contact Us</h1>
                </div>                    
                    <hr/>
                    <p>We are always looking for ways to improve our services,
                         our website, or our communication. If you'd like to reach
                         out to us, you can do that here. We look forward to hearing 
                         from you.
                    </p>
            </div>
        </div>

    </div><!-- col div-->
    <div class="col-md-6">
        <div class="jumbotron">
        <!--TODO FIND A SUITABLE STOCK PHOTO -->
        <h1>TODO find a suitable stock photo</h1>
        </div>

    </div><!--col div-->

{% endblock body %}