{% extends 'base.html' %}

{% block body %}

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-6">
    <h1>Directory | Search</h1>
    <h4>
      The St. Clair County Medical Society has a variety of members
      and grows larger all the time. Use the search function on this page 
      to sort through them all. Whether you know only the name, or address,
      you can search for them here.
    </h4>
    </div><!--col-->

    <div class="col-sm-6 form-group">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/radio_form.html' %}
      </form>
    </div><!--col-->


  </div><!--row-->
</div><!--jumbotron-->

  

<div class="row">
  <div class="col-12">
  <div class="container">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Specialty</th>
        <th># of contacts</th>
      </tr>
    </thead>
    <tbody>
      {% for spec in specialties %}
      <tr>
        <td><a href="{% url 'spec_description' spec.pk %}" >{{spec.name}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div><!--col div-->


</div><!--row div-->



{% endblock %}