{% extends 'base.html' %}

{% block body %}


<div class="jumbotron">
  <div class="row">
    <div class="col-sm-8">
    <h1>St. Clair Medical Society | Directory</h1>
    <hr/>
    <h4>
      The St. Clair County Medical Society has a variety of members
      and grows larger all the time. Use the search function on this page 
      to sort through them all. Whether you know only the name, or address,
      you can search for them here. You can also filter by Specialty below:
    </h4>
    </div><!--col-->

    <div class="col-sm-4 form-group">
      <form method="post" novalidate>
        <h1>Search</h1>
        <hr>
        {% csrf_token %}
        {% include 'includes/radio_form.html' %}
      </form>
    </div><!--col-->


  </div><!--row-->
</div><!--jumbotron-->

<div class="row">
  <div class="col-12">
  <div class="container">
  <table class="table text-center">
    <thead class="thead-inverse">
      <tr>
        <th><h2 style="margin:0px;">Specialty</h2></th>
      </tr>
    </thead>
    <tbody>
      {% for spec in specialties %}
      <tr>
        <td><a href="{% url 'spec_description' spec.pk %}" id="{{spec.name}}">{{spec.name}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  </div><!--col div-->


</div><!--row div-->



{% endblock %}