{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h1>St. Clair Medical Society | Events</h1>
            <hr>
        </div>
        <div class="col-sm-3">
            <span class="glyphicon glyphicon-calendar"></span>
        </div>
    </div>
</div>
{% for event in events %}
{% if event.pk|divisibleby:'2' %}
<div class="container-fluid text-center bg-grey">
{% else %}
<div class="container-fluid text-center">
{% endif %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" id="event-{{event.pk}}">
            <h2 class="event-title">{{event}}</h2>
            <hr>
            <h5>{{event.location}}</h5>
            <h6>
                {{event.date_of}} at {{event.time_of}}
                <small class='text-muted d-block'>Attending: {{event.attendees}}</small>
            </h6>
            <hr>
            <pre><p class="overflow-wrap">{{event.description|linebreaks}}</p></pre>
            {% if event.date_of > current_date %}
                <a href="{% url 'event_rsvp' event.pk %}" class='btn btn-primary btn-rsvp'>RSVP</a>
            {% else %}
                <button type="button" class='btn btn-rsvp' disabled>RSVP</button>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock body %}