{% extends 'base.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Events</h1>
</div>
{% for event in events %}
<div class="container text-center">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>{{event.title}}</h2>
            <h4>{{event.location}}</h4>
            <h4>
                {{event.date_of}} at {{event.time_of}}
                <small class='text-muted d-block'>Attendees: {{event.attendees}}</small>
            </h4>
            <pre><p>{{event.description}}</p></pre>          
        </div>
    </div>
</div>
<hr />
{% endfor %}
{% endblock body %}