{% extends 'base.html' %}

{% block body %}
<div class = "jumbotron text-center">
    <h1>Welcome to the St. Clair County Medical Society</h1>
    <h5>For over 135 years the SCCMS has worked to maintain 
      quality medical care in St. Clair County.</h5>
    <p>You may search for keywords here, or navigate to our <a href="{% url 'directory' %}">directory</a> 
      to search for doctors and practices.
    </p>
    <form class="form-inline justify-content-center">
        <div class="input-group">
          <input type="email" class="form-control" size="50" placeholder="Keywords" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-primary">Search</button>
          </div>
        </div>
      </form>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About St. Clair Medical Society</h2>
      <h4>For over 135 years the SCCMS has worked to maintain quality 
          medical care in St. Clair County.
      </h4>
      <p>If you are a patient who needs a physician recommendation, please visit the
        membership <a href="{% url 'directory' %}">directory</a>, to 
        choose a quality physician in primary or specialty care.
      </p>
    </div><!--col-->
    
    <div class="col-sm-4">
      <div style="font-size:3em; color:lightblue; text-align:center;">
        <i class="fas fa-sitemap fa-3x slideanim"></i>
      </div>
    </div><!--col-->

  </div><!--row-->
</div><!--container-fluid-->

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
        <div style="font-size:3em; color:purple; text-align:center;">    
          <i class="fas fa-hospital fa-3x slideanim"></i>
        </div>
    </div><!--col-->
    
    <div class="col-sm-8">
      <h2>Our Values</h2>
      <h4><strong>Our Mission:</strong>The St. Clair County Medical Society 
        acts as a liaison between organized medicine and the community, representing 
        its members before county, city, and state officials. SCCMS promotes quality 
        medical service for citizens of St. Clair County.</h4>
    </div><!--col-->

    </div><!--row-->
</div><!--container-->

<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we can do for you</h4>
  <br>
  <div class="row slideanim">
    
    <div class="col-sm-4">
      <div style="font-size:3em; color:tomato; text-align:center;">    
          <a href="{% url 'officers' %}"><i class="fas fa-users fa-lg"></i></a>
      </div><br/>
      <h4><a href="{% url 'officers' %}">OFFICERS</a></h4>
      <p>You can find a local list of the officers within the society here.</p>
    </div><!--col-->

    <div class="col-sm-4">
        <div style="font-size:3em; color:tomato; text-align:center;">    
          <a href="{% url 'newsletter' %}"><i class="fas fa-file-alt fa-lg"></i></a>
        </div><br/>
        <h4><a href="{% url 'newsletter' %}">NEWSLETTERS</a></h4>
        <p>Articles from our members and readers are welcome and will be published as space 
            permits in the combined SCCMS and MCMS monthly bulletin.
        </p>
      </div><!--col-->

    <div class="col-sm-4">
      <div style="font-size:3em; color:tomato; text-align:center;">    
        <a href="{% url 'news' %}"><i class="fas fa-newspaper fa-lg"></i></a>
      </div><br/>
      <h4><a href="{% url 'news' %}">EVENTS</a></h4>
      <p>You can find all our announcments and upcoming events here.</p>
    </div><!--col-->


  </div><!--row-->
</div><!--container-->

<div class="container-fluid text-center bg-grey">
  <h2>Hospitals</h2>
  <h4>The following hospitals are members of the society</h4>
  <br/>
  <div class="row slideanim">
    <div class="col-sm-4">
      <a href="http://www.steliz.org/" target="blank"><img src="http://www.steliz.org/www-seb/media/SEB-Images/logo.png" class="img-fluid"></a>
      <hr/>
      <p>St. Elizabeth's Hospital of Belleville, Illinois<br/>
          211 South Third Street<br/>
          Belleville, IL 62220<br/>
          618 234-2120<br/>
      </p>
    </div><!--col-->

    <div class="col-sm-4">
      <a href="http://www.memhosp.com/" target="blank"><img src="https://www.memhosp.com/assets/images/logo-default_site.png" class="img-fluid"></a>
      <hr/>
      <p>Memorial Hospital of Belleville, Illinois<br/>
          4500 Memorial Drive<br/>
          Belleville, Illinois 62226<br/>
          618 233-7750
      </p>
    </div><!--col-->

    <div class="col-sm-4">
      <a href="http://www.touchette.org" target="blank"><img src="https://www.touchette.org/img/touchette/touchette-regional-hospital-logo.png" style="max-height: 95px;" class="img-fluid"></a>
      <hr/>
      <p>Touchette Regional Hospital<br/>
          5900 Bond Ave <br/>
          Centreville, IL 62207 <br/>
          (618) 332-3060
        </p>
    </div>
  
  </div><!--row-->
</div><!--container-->

<div id="contact" name="contact" class="container-fluid">
  <h2 class="text-center">CONTACT</h2>
  <div class="row slideanim">
    <div class="col-sm-5">
      <p>Contact us and we'll do our best to reply within 24 business hours.</p>
      <p><i class="fas fa-map-marker-alt"></i> Belleville, IL</p>
      <p><i class="fas fa-phone"></i> 618-397-5315</p>
      <p><i class="fas fa-envelope"></i> stclairmed96@gmail.com</p>
    </div><!--col-->

    <div class="col-sm-7"><!--add form for under here-->
      <form method="post" novalidate>
      {% csrf_token %}
      {% include 'includes/contact_form.html' %}
      </form>
      </div><!--col-->
  
    </div><!--row-->
  </div><!--container-->
  
  {% endblock body %}