{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">

            <div class="container-fluid text-center">
            <img src="http://www.stclairmed.com/picts/StEliz_logo-main_new.gif" style="border-radius:20px"/>                    
            <br/> <br/>
            <h5> St. Elizabeth's Hospital of Belleville, Illinois<br/>
            211 South Third Street<br/>
            Belleville, IL 62220<br/>
            618 234-2120</h5>
            </div><!--container-fluid text-center-->
            <br/>
            <div class="container">
            <ul>
                <li>Established in 1875</li>
                <li>Founded by the Hosplital Sisters of the Third Order Of St. Francis</li>
                <li>Employs over 1,640 people; eighth largest metro east employer</li>
                <li>Member of the Hospital Sisters Health System of Springfield, IL</li>
                <li>SEH is an acute care facility with over 300 physicians on its medical staff, and 506 beds.</li>
            </ul>
            <h6 class="text-center">Visit their webpage <a href="http://www.steliz.org/">here.</a></h6>
            </div>
        </div><!--jumbotron div-->
    </div><!--col div-->

    <div class="col-md-6">
        <div class="jumbotron">

            <div class="container-fluid text-center">
            <img src="http://www.stclairmed.com/picts/H-Memorial-Hosp-tag-Blue&Goldsm.jpg" style="border-radius:20px; max-width:160px"/>                    
            <br/><br/>
            <h5>Memorial Hospital of Belleville, Illinois<br/>
                4500 Memorial Drive<br/>
                Belleville, Illinois 62226<br/>
                618 233-7750</h5>
            </div>
            <br/>
            <div class="container">
                <ul>
                    <li>Owned and operated by Protestant Memorial Medical Center, Inc.</li>
                    <li>Employees 2,350; fifth largest metro east employer</li>
                    <li>Has a Memorial Convalescent Center, which is a 108-bed skilled nursing-rehabilitation facility adjacent from the hospital</li>
                    <li>341-bed, full-service hospital with over 2,000 employees and a medical staff of over 300 physicians representing 39 specialties.</li>
                    <li>Memorial operates three off-site physical therapy centers and an off-site diagnostic facility, an emergency room with 40,000 annual visits and a hospital-based outpatient surgery <a src="www.memhosp.com">program.</a></li>
                </ul>
                <h6 class="text-center">Visit their webpage <a href="http://www.memhosp.com">here.</a></h6>
            </div>
        </div><!--jumbotron div-->
    </div><!--col div-->
</div><!--row div-->

<div class="row">
    <div class="col-md-6">

        <div class="jumbotron">
            <div class="container-fluid text-center">
            <img src="http://www.stclairmed.com/picts/touchette-hospital-1.jpg" style="border-radius:20px; max-width:160px"/>
            <br/><br/>
            <h5>Touchette Regional Hospital<br/>
                5900 Bond Ave <br/>
                Centreville, IL 62207<br/>
                (618) 332-3060</h5>
            </div>
            <br/>
            <div class="container">
                <ul>
                    <li>Touchette Regional Hospital is a 105 inpatient bed hospital</li>
                    <li>8 Intensive Care beds</li>
                    <li>TRH continues to bring state-of-the-art technology and care to the communities we serve.</li>
                    <li>Touchette Regional Hospital offers cardiopulmonary, laboratory, radiology, physical therapy, obstetrical services, an oncology infusion clinic,
                            a 24-hour emergency department and an intensive care unit.</li>
                    <li>We also offer both inpatient and outpatient medical and surgical services.</li>
                </ul>
                <h6 class="text-center">Visit their webpage <a href="http://www.touchette.org/index.htm">here.</a></h6>                    
            </div>
        </div><!--jumbotron div-->
    </div><!--col div-->
</div><!--row div-->

{% endblock body %}