{% extends 'base.html' %}

{% block body %}
<div class="jumbotron text-center" style="background-color:rgb(228, 228, 228)">
        <h1>News / Announcements page!</h1>
    </div>




    <div class="container">
        <br>
        {% for announcement in announcements %}
            {% if announcement.img %}
            <div class="container">
                <div class="row align-items-center" style="background-color:rgb(186, 236, 205)">
                    <div class="col-sm-8">
                        <br>
                        <h3>{{ announcement.title }}</h3>
                        <br>
                        <p class="text-center">{{ announcement.body }}</p>
                        <br>
                        <h6 class="text-right">{{ announcement.date }} {{ announcement.time }}</h6>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <img class="img-thumbnail" src='{{ announcement.img.url }}'/>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container" style="background-color:rgb(186, 236, 205)">
                <br>
                <h3>{{ announcement.title }}</h3>
                <br>
                <p class="text-center">{{ announcement.body }}</p>
                <br>
                <h6 class="text-right">{{ announcement.date }} {{ announcement.time }}</h6>
                <br>
            </div>
            {% endif %}
            <hr>
        {% endfor %}
    </div>

{% endblock body %}