{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h1>St. Clair Medical Society | News</h1>
            <hr>
        </div>
    </div>
</div>

    <!-- PAGINATION DOES NOT CURRENTLY LIMIT THE NUMBER OF PAGES ON THE LIST -->

    {% if announcements.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if announcements.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ announcements.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for i in announcements.paginator.page_range %}
                {% if announcements.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if announcements.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ announcements.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}
<br>






{% for announcement in announcements %}
    {% if announcement.img %}
        {% if announcement.pk|divisibleby:'2' %}
            <div class="container-fluid news-div bg-grey">
        {% else %}
            <div class="container-fluid news-div">
        {% endif %}
                <div class="row align-items-left">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h3>{{ announcement.title }}</h3>
                        <hr>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <br>
                        <p class="text-center">{{ announcement.body }}</p>
                        <br>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-thumbnail" src='{{ announcement.img.url }}'/>
                    </div>
                </div>
                <div class="row align-items-right">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                        <h6 class="text-right">{{ announcement.date }} {{ announcement.time }}</h6>
                    </div>
                </div>
            </div>
    {% else %}
        {% if announcement.pk|divisibleby:'2' %}
            <div class="container-fluid news-div bg-grey">
        {% else %}
            <div class="container-fluid news-div">
        {% endif %}
                <div class="row align-items-left">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <h3>{{ announcement.title }}</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <br>
                        <p class="text-center">{{ announcement.body }}</p>
                        <br>
                        <h6 class="text-right">{{ announcement.date }} {{ announcement.time }}</h6>
                    </div>
                </div>
            </div>
        {% endif %}
{% endfor %}
<br>
<br>

     <!-- PAGINATION DOES NOT CURRENTLY LIMIT THE NUMBER OF PAGES ON THE LIST -->
     
    {% if announcements.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if announcements.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ announcements.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for i in announcements.paginator.page_range %}
                {% if announcements.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if announcements.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ announcements.next_page_number }}">Next</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    {% endif %}
    

{% endblock body %}