{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h1>St. Clair Medical Society Officers</h1>
            <hr/>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <div class="container-fluid">

                {% for role in roles %}
                <h5>{{ role.name }}</h5>
                <ol>
                    {% for officer in officers %}
                        {% if officer.role.name == role.name %}
                        <li style="list-style-type:none;">
                            {% if officer.position %}
                                {{ officer }} - {{ officer.position }}
                            {% else %}
                                {{ officer }}
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ol>
                {% endfor %}
            </div>
            
            
        
        </div><!--jumbotron div-->
    </div> <!--col div-->

    <div class="col-md-6">
        <div class="container-fluid">
            <img src="http://www.stclairmed.com/presidents-dinner-2017/Presidents%202017-officers.jpg" class="img-fluid rounded" style="max-height: 500px;"/>
            <hr/>
            <img src="http://www.stclairmed.com/picts/past-presidents-1.jpg" class="img-fluid rounded" style="max-height: 775px;"/>   
        </div>
    </div> <!--col-->

</div><!--row-->

{% endblock body %}