{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <h1>All {{ specialty.name }} Practices</h1>
</div> 
<div class="jumbotron">
<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle</th>
            <th>Title</th>
            <th>Practice</th>
            <th>Phone number</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in specialty.doctors.all %}
        <tr>
            <td>{{doctor.last_name}}</td>
            <td>{{doctor.first_name}}</td>
            <td>{{doctor.middle_init}}</td>
            <td>{{doctor.title}}</td>
            <td>{{doctor.practice}}</td>
            <td>{{doctor.practice.phone_number}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}