{% extends 'base.html' %}

{% block body %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6">
            <h1>Unsubscribe</h1>
            <hr/>
        </div>
    </div>
</div>



{% if unsubconf %}
    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1>It Worked!</h1>
            <hr>
            <h5>{{ unsubconf }}</h5>
            <br>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3><a class="btn btn-primary" href="{% url 'newsletter' %}">Back to Newsletters</a></h3>
        </div>
    </div>
    

{% else %}
    <div class="row text-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h1>You will be missed</h1>
            <hr>
            <h5>Please enter the E-Mail address registered with your subscription to continue</h5>
            <br>
        </div>
    </div>
    
    <div class="row align-items-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            {% include 'includes/unsub_form.html' %}
        </div>
    </div>
        
{% endif %}


<!--
<div class="row align-items-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
        <h3><a href="{% url 'newsletter' %}">Back to Newsletters</a></h3>
    </div>
</div>
-->

<div class="container-fluid bg-grey">
    <div class="row">
    
        <div class="col-sm-8">
        <h2>Want to contribute?</h2>
        <h4>
            If you are interested in joining or contributing an article to the society, please 
            notify us from the contact form on the <a href="{% url 'home' %}#contact">home</a> page. If you are a member and would 
            like updates, please contact the society office with your e-mail address.
        </h4>
        <p>
            Advertising space is available in the bulletin for the Medical Society of 
            St. Clair and Madison Counties, a monthly mailer to physician members. Please 
            <a href="{% url 'home' %}#contact">contact</a> the society for additional information.
        </p>
        </div><!--col-->

        <div class="col-sm-4">
            <div style="font-size:3em; color:lightslategray; text-align:center;">  
                <i class="fas fa-pencil-alt fa-3x"></i>  
            </div>
        </div><!--col-->

    </div><!--row-->
</div><!--container-->

{% endblock body %}