{% load widget_tweaks %}

  <div class="form-group">
    {% render_field form.term class="form-control" %}
    {% if form.term.errors %}
      {% for error in form.term.errors %}
        <small>{{error}}</small>
      {% endfor %}
    {% endif %}
  </div>
      {% for choice in form.my_choice_field.field.choices %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input type="radio" name="my_choice_field" value="{{choice.0}}"
          {% ifequal form.my_choice_field.data choice.0 %}
          checked="checked"
          {% endifequal %} /> {{choice.1}}
        </label>
      </div>
      {% endfor %}
      <button type"submit" class="btn btn-primary">Search</button><br/>
      <small>{{form.my_choice_field.help_text}}</small>
      {% if form.is_bound %}
        {% if form.my_choice_field.errors %}
          {% for error in form.my_choice_field.errors %}
            <small>{{error}}</small>
          {% endfor %}
        {% endif %}
      {% endif %}