{% load widget_tweaks %}

  <div class="form-group">
    {% render_field form.term class="form-control" placeholder="Keywords" %}
  </div>
      {% for choice in form.my_choice_field.field.choices %}
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          {% if choice.0 == "all" %}
          <input type="radio" checked="true" name="my_choice_field" value="{{choice.0}}"/> {{choice.1}}
          {% else %}
          <input type="radio" checked="false" name="my_choice_field" value="{{choice.0}}"/> {{choice.1}}
          {% endif %}
        </label>
      </div>
      {% endfor %}
      <button type"submit" class="btn btn-primary">Search</button><br/>
      <small>Select a field to search in or select "All" to search all fields</small>

