{% load widget_tweaks %}

<form method="post" novalidate id="sub-form">
    {% csrf_token %}
    <div class="container">
        {% if error %}
            {% render_field form.email class="form-control is-invalid" %}
            <small class="invalid-feedback">{{error}}</small>
        {% else %}
            {% render_field form.email class="form-control" %}
        {% endif %}
        <!-- {% for field in form %}
            {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                    <small class="invalid-feedback">{{error}}</small>
                {% endfor %}
            {% else %}
                {% render_field field class="form-control is-valid" %}
            {% endif %}
            <small style="color:rgb(185, 5, 44);">{{ error }}</small>
            <br>
        {% endfor %} -->
    </div>

<br>

<div class="row text-center">
    <div class="col-sm-6">
        <a class="btn btn-primary" href="{% url 'newsletter' %}">Cancel</a>
    </div>
    <div class="col-sm-6">
        <button type="submit" class="btn btn-danger" name="subscribe_submit" id="sub-submit">Unsubscribe</button>
    </div>
</div>

</form>


